<nav ng-init="gotoThisWeek()">
  <ul class="pager">
    <li class="previous">
      <a href="#" ng-click="gotoPrevWeek()"><span aria-hidden="true">&larr;</span> Previous</a>
    </li>
    <li>
      <a href="#" ng-click="gotoThisWeek()" ng-show="!isThisWeek()">Today <span aria-hidden="true">&larrhk;</span></a>
    </li>
    <li class="next">
      <a href="#" ng-click="gotoNextWeek()">Next <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
<table class="table table-responsive table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-center">Tasks</th>
      <th ng-repeat="d in dates" class="text-center" ng-class="{info:isToday(d)}">{{d|date:'EEE dd/M'}}</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
