section
  ul.nav.nav-pills
    li(ng-class="{active: selectedChild === child.id}", ng-repeat="child in children")
      a(href="", ng-click="setChild(child.id)") {{child.name}}
  dev
    {{selectedChild}}
