div.row
  div.col-xs-0.col-sm-3.col-md-4
  div.col-xs-12.col-sm-6.col-md-4
    a.btn.btn-block.btn-social.btn-facebook(href="/auth/facebook", target="_self")
      i.fa.fa-facebook
      |  Sign in with Facebook
    a.btn.btn-block.btn-social.btn-google(href="/auth/google", target="_self")
      i.fa.fa-google
      |  Sign in with Google
