ul.children {
  text-align: center;
  li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    ul.dropdown-menu {
      text-align: left;
      li {
        display: block;
      }
    }
  }
}
