body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.nav-tabs li,
ul.nav-pills li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

ul.nav-tabs,
ul.nav-pills {
  text-align: center;
}

