@import '_dropdown-submenu.css';
body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  /*color: #00B7FF;*/
}

ul.nav-pills {
  text-align: center;
  li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}

.break-word {
  word-wrap: break-word;
}

table.noselect {
  tr, th, td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.edit-tasks .modal-dialog {
  width: 400px;
}

i.handle {
  cursor: move;
}
