extends ../views/layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/auth/logout') Logout
  script.
    $(document).ready(function(){
      $.get('/auth/token?' + $.param({
        response_type: 'token',
        client_id: 'webapp',
        redirect_uri: '/auth/token/callback',
        state: 'abc',
        }), function(data) {
        alert( "Token obtained." );
      });
    });    
  #users()